@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Ali to the azure portal MSSE - DEVOPS - SP23</h1>

    <h2>{This is <b style="color:red;">@Model.indexUI</b> Environment}</h2>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
